p.specification {
   font-size:32px;
   font-weight:lighter;
   line-height:1.1em;
   text-align:center;
   }
p.feature {
   padding-bottom:30px;
   text-align:center;
   color:#777;
   }
.morespace {
   padding: 1.5em 0px;
   }
