// Variables and mixins
@import "variables";
@import "mixins";

/*! Spectre.css v#{$version} | MIT License | github.com/picturepan2/spectre */
// Reset and dependencies
@import "normalize";
@import "base";

// Elements
@import "typography";
@import "asian";
@import "tables";
@import "buttons";
@import "forms";
@import "labels";
@import "codes";
@import "media";

// Layout
@import "layout";
@import "navbar";

// Components
@import "accordions";
@import "avatars";
@import "badges";
@import "breadcrumbs";
@import "bars";
@import "cards";
@import "chips";
@import "dropdowns";
@import "empty";
@import "menus";
@import "modals";
@import "navs";
@import "pagination";
@import "panels";
@import "popovers";
@import "steps";
@import "tabs";
@import "tiles";
@import "toasts";
@import "tooltips";

// Utility classes
@import "animations";
@import "utilities";

// ArcherDX classes
@import "archerdx";

// FontAwesome 5.1.1
@import "./fontawesome5/fontawesome.scss";
@import "./fontawesome5/solid.scss";
@import "./fontawesome5/brands.scss";
@import "./fontawesome5/regular.scss";
